{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Details</title>
</head>
<body>
    {% include 'adminheader.html' %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}"/>
 <div id="wrapper">
  <h1>Teachers Details</h1> 
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Teacher ID</span></th>
        <th><span>Teacher Name</span></th>
        <th><span>Teacher Subject</span></th>
        <th><span>Teacher Email</span></th>
        <th><span>Teacher Address</span></th>
        <th colspan="2"><span>Action</span></th>

      </tr>
    </thead>
    <tbody>
      {% for teacher in teachers %}
      <tr>
        <td>{{teacher.teacher_id}}</td>
        <td>{{teacher.teacher_name}}</td>
        <td>{{teacher.teacher_subject}}</td>
        <td>{{teacher.teacher_email}}</td>
        <td>{{teacher.teacher_address}}</td>
        <td><a href="{% url 'teacher_edit' teacher.id %}">Edit</a></td>
        <td><a href="{% url 'teacher_delete' teacher.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
 </div> 
</body>
</html>